doctype html
html
    meta(charset='utf-8')
    style
        include view.css
body
    header 
        h1
            a(href='/' class = 'title') VEGAN FASION
        ul
          li(class='category')
            a(href='/about') ABOUT
          li(class='category')
            a(href='/') 회원가입
          li(class='category') 
            a(href='/') 로그인
          li(class='category')
            a(href='/') 마이페이지  

    section
        nav
            a(href='/')
                div(id='logo_image')
            ul
                li(class='title_list') WOMEN
                    ul
                        li(class='list')
                            a(href='/w_all') 전체
                        li(class='list') 
                            a(href='/w_outer') 아우터
                        li(class='list') 
                            a(hrefw='/w_top') 상의
                        li(class='list') 
                            a(href='/w_bottom') 하의
                li(class='title_list') MEN
                    ul
                        li(class='list')
                            a(href='/m_all') 전체
                        li(class='list') 
                            a(href='/m_all') 아우터
                        li(class='list') 
                            a(href='/m_all') 상의
                        li(class='list') 
                            a(href='/m_all') 하의
        main
            h1 비건 소재
            p(class = 'intro_vegan') •리넨(linen), 면(cotton), 면 플란넬(flannel), 데님, 트윌(twill), 저지(jersey), 캔버스(canvas)•나일론(nylon), 폴리에스테르, 폴리에스테르 플리스(polyester fleece), 아크릴(acrylic)•비스코스(viscose), 합성섬유(스판덱스와 같은 폴리우레탄 섬유 포함)•레이온(rayon 인조견), 재활용 플라스틱 섬유•인조모피, 합성다운, 다운 대용품, 극세사•인공가죽, 모조피혁(pleather), 합성소재•Tencel®(생분해성 섬유), PrimaLoft®, 3M™ Thinsulate™, GORE-TEX®, Polartec® Wind Pro®, Thermolite®
