@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Righteous&display=swap');

* {
    margin:0; padding:0;
}
ul {
    list-style: none;
}
.title, .title_list {
    font-family: 'Righteous', cursive;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
body {
    display: flex;
}
header, header ul {
    display: flex;
}
header {
    width: 100%;
    height: 60px;
    display: block;
    border-bottom: 1px solid gray;
    z-index: 1;/* 가장 top 위치에 오게끔 */
    position: fixed;
    background-color: white;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
header h1 {
    flex-shrink: 0;
    float: left;
    margin-top:20px;
    margin-left: 30px;
}
header ul {
    float: right;
    flex-shrink: 0;
    margin-top: 35px;
    margin-right: 30px;
    margin-bottom: 5px;
}
.category {
    font-family: 'Righteous', cursive;
    font-family: 'Do Hyeon', sans-serif;
    margin-left: 20px;
    font-size: 1.4rem;
}
section {
    display: flex;
    margin-top: 80px;
    font-family: 'Do Hyeon', sans-serif;
}
nav {
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    border-right: 1px solid grey;
}
.title_list {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.list {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.3rem;
    margin-top: 8px;
}
#logo_image{
    width: 180px;
    height: 180px;
    background-image: url('/logo.png');
    background-size: cover;
    margin: 10px;
    margin-bottom: 20px;
}
#main_image {
    width: 1200px;
    height: 450px;
    background-image: url('/image.jpg');
    background-size: cover;
}
.main_p {
    font-size: 1.8rem;
    margin-top: 20px;
}
.main_ctgr {
    margin-top: 10px;
}
#ctgrAll {
    color: darkolivegreen;
}
main {
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 20px;
}
.intro_vegan {
    width: 700px;
    margin-top: 50px;
}
.item_main {
    margin-left: 150px;
}
.wrap_item{
    display: block;
}
.wrap_item > ul > li {
    display: list-item;
    width: calc(25% - 17px);
    height: 500px;
    margin: 0 8.5px;
    position: relative;
    float: left;
}
.wrap_item > ul > li > a > img {
    height: 380px;
}
.info span {
    display: block;
    width: 260px;
    overflow: hidden;
    margin-left: 50px;
}
.wrap_bar {
    display: flex;
    width: 1300px;
    display: block;
    align-items: flex-end;
    padding-bottom: 20px;
}
.wrap_h {
    display: inline-block;
}

.wrap_filter {
    float: right;
    color: cadetblue;
    display: flex;
    margin-top:58px;
    font-size:1.2rem;
}
#arrayItem {
    margin-right: 10px;
}
.wrap_item img {
    display: block;
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.wrap_tag {
    display: inline-block;
    width: 400px;
    height: 407px;
    margin-left: 40px;
    margin-top: 50px;
}
.wrap_tag h1 {
    margin-bottom: 20px;
}
.wrap_tag h2 {
    margin-bottom: 40px;
    color: salmon;
}
.dropdowns {
    background-color: seashell;
    width: 100%;
    height: 50px;
    line-height: 50px; /*height와 같은 높이를 주면 세로중앙정렬이 가능해진다.*/
    text-align:  center;
    margin-bottom: 10px;
    color: grey;
    position: relative;
}
.dropdowns:hover, .dropdowns:focus {
    background-color: lightpink;
}
.dropbtn:visited {
    color: grey;
}
.dropdown-content {
    position: relative;
}
.dropdown-content > .dropdetails {
    position: relative;
    display: inline-block;
    z-index: 1; /*z-index는 position 속성없이 동작하지 않는다.*/
    visibility: hidden;
    opacity: 0;
    background-color: gainsboro;
    width: 100%;
    height: 50px;
    line-height: 50px; /*height와 같은 높이를 주면 세로중앙정렬이 가능해진다.*/
    text-align:  center;
    color: grey;
}
/* show the dropdown menu using JS  */
.show > .dropdetails {
    visibility: visible;
    opacity: 1;
}
.dropdown-content > a:hover {
    background-color: honeydew;
}
.regist {
    display: block;
    margin-top: 30px;
    text-align: center;
}
.regist #re1 {
    display: block;
    position: relative;
    float: left;
}
.regist #re2 {
    display: inline-block;
}
.item_var {
    display: block;
    margin-top: 100px;
    margin-bottom: 40px;
}
.item_var li {
    display: inline-block;
    font-size: 1.4rem;
    color: salmon;
    border-bottom: 2px solid rgba(250, 128, 114, 0.74);
    padding: 0 45px 10px 45px
}
.form_wrap{
    margin: 30px 0 0 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    display: block;
    width: 480px;
}
.form_wrap form ul li {
    display: table;
    width: 100%;
}
input[type=text] {
    width: 100%;
    height: 24px;
    display: inline-block;
    position: relative;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: content-box;   
}
.id {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
    color: #8e8e8e;
}
#btn-submit {
    margin-top: 30px;
    margin-left: 195px;
}