doctype html
html
    meta(charset='utf-8')
    style
        include view.css
body
    header 
        h1
            a(href='/' class = 'title') VEGAN FASION
        ul
          li(class='category')
            a(href='/about') ABOUT
          li(class='category')
            a(href='/signin') 회원가입
          li(class='category') 
            a(href='/') 로그인
          li(class='category')
            a(href='/') 마이페이지
    section
        nav
            a(href='/')
                div(id='logo_image')
            ul
                li(class='title_list') WOMEN
                    ul
                        li(class='list')
                            a(href='/w_all') 전체
                        li(class='list') 
                            a(href='/w_outer') 아우터
                        li(class='list') 
                            a(href='/w_top') 상의
                        li(class='list') 
                            a(href='/w_bottom') 하의
                li(class='title_list') MEN
                    ul
                        li(class='list')
                            a(href='/m_all') 전체
                        li(class='list') 
                            a(href='/m_all') 아우터
                        li(class='list') 
                            a(href='/m_all') 상의
                        li(class='list') 
                            a(href='/m_all') 하의
        main
            div(class='wrap_bar')
                div(class='wrap_h')
                    h3(class='main_ctgr' id='ctgrAll') Home > Women > All > Bottom
                    h2(class='main_ctgr') Bottom()
                div(class='wrap_filter')
                    div(id='arrayItem') 인기상품순
                    div(id='filterItem') 필터
             div(class='wrap_item')
                    ul 
                        li
                            a(href='/w_outer/item01')
                                img(src="/item02.jpg")
                            div(class='info')
                                span(class='name') 비건 가죽 스커트
                                span(class='price') 773,000
                        li
                            a(href='/w_outer/item01')
                                img(src="/item_pt.jpg")
                            div(class='info')
                                span(class='name') 코베인 비건 레더 팬츠
                                span(class='price') 162,200
                        li
                            a(href='/w_outer/item01')
                                img(src="/item_pt2.jpg")
                            div(class='info')
                                span(class='name') 비건 가죽 바지
                                span(class='price') 548,470
                       